a,
button {
  text-decoration: none !important;
  display: flex;
  place-content: center;
  justify-content: center;
  padding: 0.5rem;

  cursor: pointer;
  * {
    cursor: pointer;
  }
}

button {
  min-height: 48px;
  min-width: 48px;
}