@import url("https://fonts.googleapis.com/css?family=Poppins:wght@100;300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;300;500&display=swap");

// @import "./mixins.scss";


// @import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,200,0,0";



//  Nutrient Colors
$protein:    #4CAF50;
$fat:        #2196F3;
$carbs:      #FFA000;

$sodium:    #795548;
$sugar:     #F44336;
$fiber:     #9C27B0;

//  Lighter Nutrient Colors
$protein-bg:    #4caf4f13;
$fat-bg:        #2195f315;
$carbs-bg:      #ffa20018;

$sodium-bg:    #7955481e;
$sugar-bg:     #f4433615;
$fiber-bg:     #9b27b015;

// Export as CSS variables
:root {
  --protein-bg: #{$protein-bg};
  --fat-bg: #{$fat-bg};
  --carbs-bg: #{$carbs-bg};
  --sodium-bg: #{$sodium-bg};
  --sugar-bg: #{$sugar-bg};
  --fiber-bg: #{$fiber-bg};
}

// Nutrient text color classes
.text-protein { color: $protein; }
.text-fat { color: $fat; }
.text-carbs { color: $carbs; }
.text-sodium { color: $sodium; }
.text-sugar { color: $sugar; }
.text-fiber { color: $fiber; }


//  Var Overrides
:root {
  --p-card-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  --p-card-shadow-raised: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}


//  Page Setup
* {
  box-sizing: border-box;
}

html {
  background: var(--bg-light);
  color: var(--text-dark);
}

body {
  background: inherit;
  color: inherit;
  margin: 0 auto;
  font-size: var(--font-size);
  font-family: var(--font-body);


  nav {
    background: transparent;
  }
}


.container {
  display: grid;

  justify-content: center;
  place-content: stretch;
  gap: 10px;
  margin: 0 auto;
  width: clamp(300px, 98vw, 1200px);

}

.grid {
  display: grid !important;
  margin-right: 0rem;
  margin-left: 0rem;
  margin-top: 0rem;
  gap: 0.5rem;

  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}


:root {
  --p-card-shadow: none;
}

.card, .p-card {
  transition: all 0.1s ease-out;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
              0px 3px 4px 0px rgba(0, 0, 0, 0.14),
              0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  background: var(--light-surface);

  &:hover {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
                0px 8px 10px 1px rgba(0, 0, 0, 0.14),
                0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    transform: translateY(-2px);
  }
}

.p-card {
  box-shadow: var(--p-card-shadow);
  border-radius: var(--p-card-border-radius);
}